$white: #fff;
$turquoise: #0bc4d9;
$blue: #019cbd;

//Light colors
$soft-grey: #787878;
$btn-light-grey: #999999;
$btn-dis-light-grey: #ffffff80;
$light-grey: #ffffff99;
$soft-blue: #b5ebf154;

//Dark colors
$bg-dark-blue: #1156b6;
$bg-grey-black: #1b1d1f;
$dark-grey: #2c3338;